extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Rod Sanati
        p.lead.text-light
          | Full Stack Web Developer
        .portfolio-bio
          p
            |  Hey there! My name's Rod and I am a full stack web developer pursuing exciting challenges within web-based applications.
            |  Completed projects and professional experience include working with front-end frameworks such as React and Vue.js and back-end development with Java Spring Boot and Express.
            |  Strong desire for long-term development and cultivation within a company with an eventual goal of leading junior developers through best practices and approaches to solving programmatic situations.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Java SE
          li Java EE (Servlets, JSP)
          li Spring Boot Framework
          li Spring Security
          li Object-Oriented Programming
          li Test-Driven Development
          li JUnit and Jasmine
          li Node.js
          li Express
          li React
          li Vue.js
          li SQL
          li MySQL
          li Sequelize
          li MongoDB
          li Mongoose
          li Bootstrap
          li Thymeleaf
          li Pug
          li AJAX
          li JSON
          li VCS with Git
          li Github
          li Peer Code Review
        h6 Contact Info
        ul
          li RodSanati@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/rod-sanati/') LinkedIn
        a.button.expanded(href='https://github.com/Rod-S') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
