extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Rod Sanati
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            |  Hey there! My name's Rod and I am a student web developer at Treehouse working towards a Full Stack JavaScript Techdegree. 
            |  Before my journey began as a web developer, I worked as a construction superintendent overseeing both residential and commercial projects 
            |  to completion. Both in the construction and tech industries, the client's expectations must be met by delivering a quality finished product and within a reasonable time frame.  
            |  What started out as a hobby of creating the most basic of JavaScript functions and HTML pages has developed into creating fully designed and functional web applications with routing,
            |  and backend server setup. From these foundational languages to the advanced frameworks and libraries needed to build front and back-end web applications,
            |  I take pride in applying these skills I have and continue to learn individually or within a team!  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Node.js
          li React
          li SQL
          li Sequelize
          li MongoDB
          li Mongoose
          li Express API 
          li Pug
          li AJAX
          li JSON
          li Git/CLI
          li Github
          li Peer Code Review
        h6 Contact Info
        ul
          li 123-456-7890
          li RodSanati@email.com
        a.button.expanded(href='https://www.linkedin.com/in/rod-sanati-42b41b152/') LinkedIn
        a.button.expanded(href='https://github.com/Rod-S') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
