extends layout

block content
    h1= `${error.message} - Status: ${error.status}`
    br
    a.button-primary-small(href='/') CLICK HERE TO GO BACK
    br
    br
    .lead.text-light
      pre.stack-trace= error.stack
