extends layout

block content
    h1 Uh Oh! There was a problem loading the page!
    h1= `${error.message} - Status: ${error.status}`
    br
    a(href='/') CLICK HERE TO GO BACK
    br
    br
    .lead.text-light
      pre.stack-trace= error.stack
